<robot name="table">

    <link name="world">
    </link>

    <joint name="world_to_cylinder" type="fixed">
        <parent link="world"/>
        <child link="cylinder"/>
    </joint>

    <link name="cylinder">
        <inertial>
            <mass value="0.001"/>
            <inertia ixx="0.1" iyy="0.1" izz="0.1" ixy="0.0" ixz="0.0" iyz="0.0"/>
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0 1.5708 0"/>
            <geometry>
                <cylinder radius="0.03" length="0.2"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0 1.5708 0"/>
            <geometry>
                <cylinder radius="0.03" length="0.2"/>
            </geometry>
        </collision>
    </link>

</robot>