<robot name="table">

    <link name="world">
    </link>

    <joint name="world_to_object" type="fixed">
        <parent link="world"/>
        <child link="object"/>
    </joint>

    <link name="object">
        <inertial>
            <mass value="0.001"/>
            <inertia ixx="0.1" iyy="0.1" izz="0.1" ixy="0.0" ixz="0.0" iyz="0.0"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0"/>
            <geometry>
                <mesh filename="%s"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0"/>
            <geometry>
                <mesh filename="%s"/>
            </geometry>
        </collision>
    </link>

</robot>